@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
}

/*-----==============------*/
/*-----==============------*/
/*-----==============------*/
.sidebar{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113,99,186,255);
    z-index: 5;
}
/*.sidebar:hover{
    width: 300px;
    transition: 0.5s;
}*/
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.sidebar .logo .menu button{
    display: none;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, .active{
    background: #e0e0e058;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.menu a span{
    overflow: hidden;

}
.menua a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: -570px;
    left: 0;
    width: 100%;
}




/*-----==============------*/
/*-----==============------*/
/*-----==============------*/

aside{
    width: 100%;
}
.main-content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: ruby-text;
   
}
.header-wraper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    left: -100px;

}
.header-wraper{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: antiquewhite;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    width: 80%;
    z-index: 2;
    left: 20%;
    
}

.header-title{
    color: rgba(113,99,186,255);
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113,99,186,255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
    position: relative;
    left: -100px;
}
.search-box input{
    background-color: transparent;
    padding: 10px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
    transform: scale(1.2);
}



.main-container{
    position: relative;
    display: flex;
    align-items: center;
   
    border-radius: 10px;
    top: 20vh;
   

}
.container{
    background-color:transparent;
    position: relative;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px gray;
    cursor: pointer;
   

    

}
.background{
    height: 200px;
    width: 400px;
    background-color:transparent;
}
.background img{
    height: 200px;
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profilee{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profilee img{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px gray;
    

}
.profilee img:hover{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 0;
    cursor: pointer;
}
.btnn{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.btnn .black{
    position: relative;
    background: black;
    color: white;
    font-size: larger;
    border-radius: 5px;
}
.btnn .black:hover{
    font-size: x-large;
}
.btnn .orange{
    position: relative;
    background: orange;
    color: white;
    font-size: larger;
    border-radius: 5px;
}
.btn .orange:hover{
    font-size: x-large;
}
.follower{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 50px;
}
.follower1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 45px;
    left: 13px;
    color: rgb(113, 110, 110);
    font-weight: 300;
    font-size: medium;
}
.address{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 30px;
    top: 60px;
}
.sidebar .menu .logo button{
    display: none;
    position: relative;
}
aside .main-container .header-wraper .user-info button{
    position: relative;
    display: none;
}













@media(max-width: 420px){
    body{
        overflow-x: hidden;
    }
    .sidebar{
        position:absolute;
        background: transparent;
        width: 50%;
        display: block;
        
    }
    
    .sidebar .logo .menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        transition: 5s;
        width: 150px;
        height:100vh;
        background-color: rgb(219, 115, 132);
        left: -100%;
        z-index: 10;
        top: 0px;
       
    }
    .menu{
        display:none;
    }
    .sidebar .logo .menu .cross-btn{
        display: block;
        position: relative;
        margin-left: 120px;
        margin-top: 0px;
        font-size: x-large;
        font-weight: bolder;
        background: transparent;
    }
    .sidebar .logo .menu .cross-btn:hover{
        background: #fff;
        cursor: pointer;
    }
    .logout{
        position: relative;
        bottom: 0px;
    }
    .menu :nth-child(4){
        background: #e0e0e058;
    }
    .active{
        background: none;
    }
    aside .main-content .header-wraper .user-info button{
        display: block;
        background-color: transparent;
        margin-left: 0px;
        margin-top: 0px;
        border: none;
        
    }

    .header-wraper {
        width: 100%;
        left: 0%;
    }
    input{
        display: none;
    }
  
    .container{
        height: 465px;
        width: 400px;
        left: -2%;
    }
    .user-info{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    aside .main-content .header-wraper .user-info button  i{
        position: relative;
        display: block;
        
        font-size: x-large;
    }
  
    .user-info .search-box{
        margin-left: -134px;
        position: relative;
    }
    
}